@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');
*{
    font-family: 'Poppins',cursive;
}
body{
    background-image: url('../img/fondoinicio.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.greetings{
    font-size: 6rem;
    font-weight: 900;
}
.greetings > span{
    animation: glow 3s ease-in-out infinite;
}
@keyframes glow{
    0%, 100%{
        color: #ffffff;
        text-shadow: 0 0 12px #0e5bb9, 0 0 50px #0e5bb9, 0 0 100px #0e5bb9; /*aqui puedes cambiar los colores de la animacion*/
    }
    10%, 90%{
        color: #0000ff; /*esto es para cambiar el color del titulo*/
        text-shadow: none;
    }
}
.greetings > span:nth-child(2){ /*com estos 4 codigos puedes cambiar la velodicada de la animacion*/
    animation-delay: .4s ;
}
.greetings > span:nth-child(3){
    animation-delay: .5s ;
}
.greetings > span:nth-child(4){
    animation-delay: .6s;
}
.greetings > span:nth-child(5){
    animation-delay: .10s;
}

.description{
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.button a{
    text-decoration: none;
    font-size: 1rem;
    color: #ffffff;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    margin-right: 5mm;
  }
  
  .button:first-child {
    margin-left: 5mm;
  }
  
@media screen and (max-width:574px){
    .greetings{
        display: block;
        font-size: 3rem;
        font-weight: 500;
        text-align: center;
    }
    .description{
        font-size: 1rem;
    }
    
    .button a{
        font-size: .5rem;
    }
}

.description{
    color: #ffffff;
}

/* Estilo para el botón */
.button button {
    background-color: #2016ac; /* Fondo amarillo */
    border: none; /* Sin bordes */
    padding: 10px 20px; /* Ajusta el relleno según tu preferencia */
    font-size: 18px; /* Tamaño de fuente */
    cursor: pointer;
    position: relative; /* Necesario para el resplandor */
    border-radius: 20px; /* Esquinas redondeadas */
    transition: background-color 0.3s ease-in-out; /* Transición suave para el color de fondo */
  }
  
  /* Estilo para el enlace dentro del botón */
  .button button a {
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: inherit; /* Hereda el color del texto del botón */
  }
  
  /* Efecto de resplandor al pasar el cursor sobre el botón */
  .button button:hover {
    background-color: rgb(49, 56, 97); /* Cambia el color de fondo al pasar el mouse a naranja */
    box-shadow: 0 0 10px #2016ac, 0 0 20px #2016ac, 0 0 30px #2016ac; /* Efecto de resplandor amarillo */
  }

  .form-box {
    position: relative;
    width: 500px;
    height: 500px;
    background: transparent;
    border: 2px solid rgb(47, 0, 255);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    text-align: center;
}